// === Common ===

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    font-family: "Myriad Pro", "Arial", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: $text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    clip-path: inset(100%);
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
}

.padding-vertical {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
}

.button {
    position: relative;
    display: inline-block;
    margin: 0;
    border: 0;
    border-radius: $base;
    padding: $base * 2.5 $base * 4;
    font-style: italic;
    text-transform: uppercase;
    color: $black;
    background-color: $primary;
    transition: $transition;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-radius: $base;
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, 0.3);
        transition: all 1s ease;
    }

    &:hover::before {
        height: $base * 11;
    }

    &--shadow {
        box-shadow: 0 $base $base -2px darken($primary, 20%);
    }
}

// === /Common ===

.header {
    position: relative;
    height: 100vh;
    background-color: $black;

    &__sections-wrapper {
        display: flex;

        @media (max-width: $breakpoints-lg) {
            flex-direction: column;
        }
    }

    &__section {
        position: absolute;
        top: 0;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover .header-card {
            opacity: 0.8;
        }

        &--meat {
            left: 0;
            width: 60%;
            background-image: linear-gradient($black, transparent 25%, transparent 60%, $black), url("../img/grill.jpg");

            &:hover {
                background-image: url("../img/grill.jpg");

                @media (max-width: $breakpoints-sm) {
                    background-image: linear-gradient($black, transparent 25%, transparent 60%, $black), url("../img/grill-mobile.jpg");
                }
            }

            @media (max-width: $breakpoints-lg) {
                width: 100%;
            }

            @media (max-width: $breakpoints-sm) {
                background-image: linear-gradient($black, transparent 25%, transparent 60%, $black), url("../img/grill-mobile.jpg");
            }
        }

        &--vegan {
            left: 25%;
            z-index: 2;
            clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
            width: 50%;
            background-image: linear-gradient($black, transparent 25%, transparent 60%, $black), url("../img/vegan.jpg");

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                clip-path: polygon(20% 0, 67% 0%, 1% 100%, 0% 100%);
                width: 30.5%;
                height: 100%;
                background-color: $primary;

                @media (max-width: $breakpoints-lg) {
                    display: none;
                }
            }

            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                clip-path: polygon(99% 0, 100% 0%, 80% 100%, 33% 100%);
                width: 30.5%;
                height: 100%;
                background-color: $primary;

                @media (max-width: $breakpoints-lg) {
                    display: none;
                }
            }

            &:hover {
                background-image: url("../img/vegan.jpg");

                @media (max-width: $breakpoints-sm) {
                    background-image: linear-gradient($black, transparent 25%, transparent 60%, $black), url("../img/vegan-mobile.jpg");
                }
            }

            @media (max-width: $breakpoints-lg) {
                left: 0;
                clip-path: none;
                width: 100%;
            }

            @media (max-width: $breakpoints-sm) {
                background-image: linear-gradient($black, transparent 25%, transparent 60%, $black), url("../img/vegan-mobile.jpg");
            }
        }

        &--secrets {
            right: 0;
            width: 41%;
            background-image: linear-gradient($black, transparent 25%, transparent 60%, $black), url("../img/secrets.jpg");

            &:hover {
                background-image: url("../img/secrets.jpg");

                @media (max-width: $breakpoints-sm) {
                    background-image: linear-gradient($black, transparent 25%, transparent 60%, $black), url("../img/secrets-mobile.jpg");
                }
            }

            @media (max-width: $breakpoints-lg) {
                width: 100%;
            }

            @media (max-width: $breakpoints-sm) {
                background-image: linear-gradient($black, transparent 25%, transparent 60%, $black), url("../img/secrets-mobile.jpg");
            }
        }

        @media (max-width: $breakpoints-lg) {
            position: relative;
            height: $base * 113;
            opacity: 1;
        }
    }

    @media (max-width: $breakpoints-lg) {
        height: auto;
    }
}

.main-nav {
    position: absolute;
    left: $base * 17;
    top: $base * 17;
    z-index: 10;
    display: flex;
    align-items: center;
    max-width: $base * 375;

    &__logo {
        margin-right: $base * 80;
        width: $base * 67;
        height: $base * 15;

        @media (max-width: $breakpoints-xl) {
            margin-right: $base * 20;
        }

        @media (max-width: $breakpoints-lg) {
            margin-right: 0;
            margin-bottom: $base * 8;
        }

        @media (max-width: $breakpoints-sm) {
            margin-bottom: 0;
        }

        @media (max-width: $breakpoints-xs) {
            width: $base * 44;
            height: $base * 10;
        }
    }

    &__logo-img {
        width: $base * 67;
        height: $base * 15;

        @media (max-width: $breakpoints-xs) {
            width: $base * 44;
            height: $base * 10;
        }
    }

    &__burger {
        display: none;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $primary;
            transition: all $transition;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: $base * 3;
            width: 100%;
            height: 5px;
            background-color: $primary;
            transition: all $transition;
        }

        &.active span {
            transform: scale(0);
        }

        &.active::before {
            top: $base * 3;
            transform: rotate(45deg);
        }

        &.active::after {
            bottom: $base * 3;
            transform: rotate(-45deg);
        }

        @media (max-width: $breakpoints-sm) {
            position: relative;
            display: block;
            width: $base * 7.5;
            height: $base * 7.5;
            cursor: pointer;
        }
    }

    &__list {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        color: $white;

        @media (max-width: $breakpoints-sm) {
            position: absolute;
            top: -$base * 100;
            flex-direction: column;
            order: 3;
            margin-top: $base * 4;
            border-right: 1px solid $primary;
            width: 100%;
            text-align: right;
            transition: $transition;

            &.active {
                position: relative;
                top: 0;
            }
        }
    }

    &__item {
        &+& {
            margin-left: $base * 7;

            @media (max-width: $breakpoints-sm) {
                margin-left: 0;
            }
        }

        @media (max-width: $breakpoints-sm) {
            &:not(:last-child) {
                margin-bottom: $base * 3;
            }
        }
    }

    &__link {
        position: relative;
        padding: $base * 5;
        font-weight: $fw-bold;
        font-size: $fs-md;
        color: $white;
        transition: $transition;

        &::after {
            content: "";
            position: absolute;
            left: $base * 4;
            right: $base * 4;
            bottom: $base * 2;
            display: none;
            height: $base;
            background-color: $primary;
        }

        &:hover {
            color: $primary;
        }

        &:hover::after {
            display: block;

            @media (max-width: $breakpoints-sm) {
                display: none;
            }
        }
    }

    @media (max-width: $breakpoints-lg) {
        position: relative;
        left: 0;
        top: 0;
        flex-direction: column;
        padding: $base * 5;
        width: 100%;
        background-color: $black;
    }

    @media (max-width: $breakpoints-sm) {
        flex-flow: wrap row;
        justify-content: space-between;
        padding: $base * 4 $base * 10;
    }
}

.header-card {
    position: absolute;
    top: 40%;
    width: $base * 90;
    font-style: normal;
    background:
        radial-gradient(circle at top left, transparent $base * 6, $white 0) top left,
        radial-gradient(circle at top right, transparent $base * 6, $white 0) top right,
        radial-gradient(circle at bottom right, transparent $base * 6, $white 0) bottom right,
        radial-gradient(circle at bottom left, transparent $base * 6, $white 0) bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    opacity: 0.4;
    transition: $transition;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $base * 10 $base * 18;

        @media (max-width: $breakpoints-xxl) {
            padding: $base * 7 $base * 11;
        }

        @media (max-width: $breakpoints-lg) {
            padding: $base * 10 $base * 18;
        }

        @media (max-width: $breakpoints-xs) {
            padding: $base * 7 $base * 11;
        }
    }

    &__title {
        margin-bottom: $base * 6;
        font-size: $fs-xl;
        text-align: center;

        @media (max-width: $breakpoints-xl) {
            font-size: $fs-lg;
        }
    }

    &__button {
        width: $base * 35;
    }

    &--meat {
        left: $base * 17;

        @media (max-width: $breakpoints-lg) {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &--vegan {
        left: 50%;
        transform: translateX(-50%);
    }

    &--secrets {
        right: $base * 17;

        @media (max-width: $breakpoints-lg) {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @media (max-width: $breakpoints-xxl) {
        width: $base * 75;
    }

    @media (max-width: $breakpoints-xl) {
        width: $base * 65;
    }

    @media (max-width: $breakpoints-lg) {
        top: 30%;
        width: $base * 100;
        opacity: 0.9;
    }

    @media (max-width: $breakpoints-xs) {
        width: $base * 70;
    }
}

.menu {
    margin: 0 auto;
    padding-top: $base * 20;
    width: $base * 225;

    &__title {
        margin: 0 auto $base * 9;
        max-width: $base * 60;
        font-weight: $fw-regular;
        font-size: $fs-xxl;
        color: $primary;
    }

    &__link {
        position: relative;
        display: block;
        margin-bottom: $base * 9;
        padding-left: $base * 7.5;
        font-weight: $fw-regular;
        font-size: $fs-xs;
        color: $text-dark;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: $base * 0.5;
            width: $base * 3;
            height: $base * 3;
            background: url("../img/check.png") center/cover no-repeat;
        }
    }

    &__cards-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: $base * 22;
        gap: $base * 10 $base * 10;

        @media (max-width: $breakpoints-md) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: $breakpoints-md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: $base * 110;
    }

    @media (max-width: $breakpoints-xs) {
        width: $base * 75;
    }
}

.menu-card {
    padding: $base * 4 $base * 10 $base * 4 $base * 30;
    width: $base * 112;
    background-position: left;
    background-size: $base * 20 $base * 20;
    background-repeat: no-repeat;

    &__second-line {
        font-size: $fs-xs;
        color: $info-primary;
    }

    &__title {
        max-width: $base * 100;
        font-weight: $fw-regular;
        font-style: normal;
        font-size: $fs-sm;
        white-space: nowrap;
    }

    &__points {
        overflow: hidden;
        padding: 0 $base;
    }

    &__price {
        margin-left: $base;
        padding: $base;
        min-width: $base * 11;
        font-weight: $fw-bold;
        font-style: normal;
        text-align: center;
        background:
            radial-gradient(circle at top left, transparent $base, $primary 0) top left,
            radial-gradient(circle at top right, transparent $base, $primary 0) top right,
            radial-gradient(circle at bottom right, transparent $base, $primary 0) bottom right,
            radial-gradient(circle at bottom left, transparent $base, $primary 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;
    }

    &__alergens-info {
        white-space: nowrap;
    }

    &--1 {
        background-image: url("../img/menu1.png");
    }

    &--2 {
        background-image: url("../img/menu2.png");
    }

    &--3 {
        background-image: url("../img/menu3.png");
    }

    &--4 {
        background-image: url("../img/menu4.png");
    }

    &--5 {
        background-image: url("../img/menu5.png");
    }

    &--6 {
        background-image: url("../img/menu6.png");
    }

    &__first-line,
    &__second-line {
        display: flex;
        padding: $base 0;
    }

    @media (max-width: $breakpoints-xs) {
        padding: $base * 4 $base * 5;
        width: $base * 78;

        &--1,
        &--2,
        &--3,
        &--4,
        &--5,
        &--6 {
            background: none;
        }
    }
}

.gallery {
    margin-bottom: $base * 20;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;

        a {
            position: relative;
            transition: $transition-slow;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                border: 1px solid $primary;
                border-radius: 100%;
                width: $base * 15;
                height: $base * 15;
                background-image: url("../img/search.svg");
                background-position: center;
                background-size: $base * 10;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.8);
                opacity: 0;
                transform: translate(-50%, -50%);
                transition: $transition-slow;
            }

            &:hover {
                z-index: 5;
                transform: scale(1.05);
            }

            &:hover::after {
                opacity: 0.7;
            }
        }

        @media (max-width: $breakpoints-md) {
            width: $base * 120;
        }

        @media (max-width: $breakpoints-xs) {
            width: $base * 80;
        }
    }

    &__img {
        display: block;
    }
}

.online-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto $base * 20;
    width: $base * 225;

    &__offer {
        display: none;

        &--active {
            position: relative;
            display: flex;
            height: $base * 75;

            @media (max-width: $breakpoints-md) {
                flex-direction: column;
                width: $base * 78;
                height: auto;
            }
        }
    }

    &__img-wrapper {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -$base * 8;
            top: -$base * 8;
            z-index: 10;
            border-radius: 100%;
            width: $base * 18;
            height: $base * 18;
            background-color: $white;

            @media (max-width: $breakpoints-md) {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: -$base * 8;
            bottom: -$base * 8;
            z-index: 10;
            border-radius: 100%;
            width: $base * 18;
            height: $base * 18;
            background-color: $white;

            @media (max-width: $breakpoints-md) {
                display: none;
            }
        }
    }

    &__img {
        width: $base * 113;
        height: $base * 75;

        @media (max-width: $breakpoints-md) {
            width: $base * 77;
            height: $base * 77;
        }
    }

    &__info {
        margin-left: -$base * 14;
        padding: 3px 3px 3px 0;
        width: $base * 125;
        background:
            radial-gradient(circle at top left, $white $base * 10, $bg-light 0) top left,
            radial-gradient(circle at top right, transparent $base * 9, $bg-light 0) top right,
            radial-gradient(circle at bottom right, transparent $base * 9, $bg-light 0) bottom right,
            radial-gradient(circle at bottom left, $white $base * 10, $bg-light 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;

        @media (max-width: $breakpoints-md) {
            margin-left: auto;
            max-width: $base * 80;
            background: none;
        }
    }

    &__info-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: $base * 5 $base * 21;
        height: 100%;
        background:
            radial-gradient(circle at top left, transparent $base * 9, $white 0) top left,
            radial-gradient(circle at top right, transparent $base * 9, $white 0) top right,
            radial-gradient(circle at bottom right, transparent $base * 9, $white 0) bottom right,
            radial-gradient(circle at bottom left, transparent $base * 9, $white 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;

        @media (max-width: $breakpoints-md) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $base * 5.5;
            text-align: center;
            background: none;

            a {
                align-self: start;
            }
        }
    }

    &__title {
        margin-bottom: $base * 4;
        font-weight: $fw-regular;
        font-size: $fs-xs;
        color: $primary;
    }

    &__subtitle {
        margin-bottom: $base * 3;
        font-weight: $fw-regular;
        font-size: $fs-md;
        color: $text-dark;
    }

    &__description {
        flex-grow: 2;
        overflow: hidden;
        margin-bottom: $base * 6;
        max-height: $base * 28;
        font-weight: $fw-regular;
        font-size: $fs-xs;
        text-transform: none;
        color: $info-secondary;
    }

    &__button {
        margin-top: auto;
        margin-right: auto;
    }

    &__next {
        position: absolute;
        right: -$base * 30;
        display: flex;
        align-items: center;
        height: $base * 8;
        min-width: $base * 20;
        background: url("../img/left-arrow.svg");
        background-position: right;
        background-size: $base * 2 $base * 4;
        background-repeat: no-repeat;

        @media (max-width: $breakpoints-xxl) {
            right: -$base * 30;
        }

        @media (max-width: $breakpoints-xl) {
            right: -$base * 22;
        }

        @media (max-width: $breakpoints-lg) {
            right: $base * 25;
            bottom: $base * 7;
        }

        @media (max-width: $breakpoints-md) {
            right: $base * 5;
            bottom: $base * 7;
        }
    }

    &__next-btn {
        outline: none;
        border: 0;
        padding: $base $base * 4 $base $base;
        font-style: italic;
        font-size: $fs-xs;
        text-transform: uppercase;
        color: $primary;
        background-color: transparent;
        transition: $transition;

        &:hover,
        &:focus {
            color: darken($primary, 10%);
            transform: scale(1.05);
        }
    }

    @media (max-width: $breakpoints-md) {
        width: $base * 78;
    }
}

.about-us {
    background: url("../img/about_us_bg.jpg") center/cover no-repeat;

    &__inner-wrapper {
        margin: 0 auto;
        padding: 0 $base * 3;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: $base * 19;
        max-width: $base * 145;
        background:
            radial-gradient(circle at top left, transparent $base * 9, $white 0) top left,
            radial-gradient(circle at top right, transparent $base * 9, $white 0) top right,
            radial-gradient(circle at bottom right, transparent $base * 9, $white 0) bottom right,
            radial-gradient(circle at bottom left, transparent $base * 9, $white 0) bottom left;
        background-size: 51% 51%;
        background-repeat: no-repeat;

        @media (max-width: $breakpoints-sm) {
            padding: $base * 8 $base * 4;
            max-width: $base * 100;
        }
    }

    &__title {
        margin-bottom: $base * 8;
        font-weight: $fw-regular;
        font-size: $fs-lg;
        color: $black;

        @media (max-width: $breakpoints-sm) {
            margin-bottom: $base * 4;
            font-size: $fs-sm;
        }
    }

    &__info {
        display: flex;
        justify-content: center;
        margin: 0 auto $base * 8;
        width: 100%;
        text-transform: none;

        @media (max-width: $breakpoints-sm) {
            flex-direction: column;
            align-items: center;
            margin: 0 auto $base * 4;
        }
    }

    &__name {
        display: flex;
        align-items: center;
        padding-left: $base * 17;
        width: 50%;
        font-style: normal;
        font-size: $fs-md;
        text-transform: none;
        color: $primary;
        background: url("../img/cloche.svg");
        background-position: left;
        background-size: $base * 16 $base * 11;
        background-repeat: no-repeat;

        @media (max-width: $breakpoints-sm) {
            margin-bottom: $base * 4;
            padding: 0;
            width: auto;
            background: none;
        }
    }

    &__adress {
        padding-left: $base * 12;
        width: 45%;
        font-size: $fs-sm;
        color: $black;

        @media (max-width: $breakpoints-sm) {
            padding-left: 0;
            width: auto;
            text-align: center;
        }
    }

    @media (max-width: $breakpoints-sm) {
        background: url("../img/about_us_bg-mobile.jpg");
    }
}

.footer {
    color: $white;
    background: url("../img/footer_bg.jpg") center/cover no-repeat;

    &__wrapper {
        display: flex;
        margin: 0 auto;
        max-width: $base * 293;

        @media (max-width: $breakpoints-lg) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__links-wrapper {
        display: flex;
        padding: 0 $base * 5;
        width: 50%;

        @media (max-width: $breakpoints-xxl) {
            margin-bottom: $base * 10;
            width: auto;
        }

        @media (max-width: $breakpoints-xs) {
            flex-direction: column;
        }
    }

    &__links-block {
        &+& {
            margin-left: $base * 17;

            @media (max-width: $breakpoints-xs) {
                margin-left: 0;
            }
        }

        @media (max-width: $breakpoints-xs) {
            margin-bottom: $base * 5;
        }
    }

    &__title {
        margin-bottom: $base * 5;
        font-weight: $fw-regular;
        font-size: $fs-md;
        opacity: 0.8;
    }

    &__list-item {
        padding: $base 0;
        opacity: 0.7;
    }

    &__link {
        padding: $base 0;
        font-size: $fs-sm;
        color: $white;
        transition: $transition;

        &:hover {
            color: $primary;
        }
    }

    &__form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        @media (max-width: $breakpoints-xs) {
            width: auto;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        margin: $base * 5 0;
        min-width: $base * 85;

        @media (max-width: $breakpoints-xs) {
            min-width: $base * 75;
        }
    }

    &__input {
        border: 0;
        padding: 0 $base * 4;
        width: 70%;
        font-family: "Myriad Pro", "Arial", sans-serif;
        font-style: italic;
        color: $white;
        background-color: rgba(255, 255, 255, 0.3);

        &::placeholder {
            font-style: italic;
            font-size: $fs-xs;
            text-transform: uppercase;
            color: $white;
            opacity: 0.7;
        }
    }

    @media (max-width: $breakpoints-sm) {
        background: $text-dark;
    }

    @media (max-width: $breakpoints-xs) {
        padding: $base * 10;
    }
}

.modal {
    &__map {
        width: 100%;
    }
}
