$base: 4px;
$transition: 0.2s;

// === Colors ===
$primary: #f1ac11;

// === Font-weight ===
$fw-regular: 400;
$fw-bold: 700;

// === Font-style ===
$fs-normal: normal;
$fs-italic: italic;

// === Padding ===
$padding-vertical: $base * 20;
